{
    "friendlist.search": "Zoek vrienden",
    "widget.chooser.checkall": "Selecteer meubels",
    "widget.chooser.btn.pickall": "pak de geselecteerde items op!",
    "wiredfurni.params.requireall.2": "Als een van de geselecteerde furni een avatar heeft",
    "wiredfurni.params.requireall.3": "Als alle geselecteerde furni avatars op hen hebben",
    "widget.settings.general": "Standaard",
    "widget.settings.general.title": "Pas de standaard nitro settings aan",
    "widget.settings.volume": "Volume",
    "widget.settings.interface": "Interface",
    "widget.settings.interface.title": "Pas de settings aan voor de interface",
    "widget.settings.interface.fps.automatic": "Zet FPS naar unlimited",
    "widget.settings.interface.fps.warning": "Het zetten van FPS naar unlimited kan prestatie problemen veroorzaken!",
    "widget.settings.interface.secondary": "Verander de window header kleur",
    "widget.settings.interface.reset": "Reset header kleur naar default",
    "widget.room.chat.hide_pets": "Verberg dieren",
    "widget.room.chat.hide_avatars": "Verberg avatars",
    "widget.room.chat.hide_balloon": "Verberg Spreekballon",
    "widget.room.chat.show_balloon": "Spreekballon",
    "widget.room.chat.clear_history": "leeg geschiedenis",
    "widget.room.youtube.shared": "YouTube word gedeeld",
    "widget.room.youtube.open_video": "Open de video",
    "wiredfurni.params.area_selection.selected": "Geselecteerd gebied: Lengte=%x%, Breedte=%y%, breedte=%w%, hoogte=%h%",
    "wiredfurni.params.carry_mode": "Gli utenti sono trasportati quando:",
    "wiredfurni.params.carry_mode.0": "rimani fermo direttamente sul Furni in movimento",
    "wiredfurni.params.carry_mode.1": "rimani fermo sulla stessa casella del Furni in movimento",
    "wiredfurni.params.sources.users.title.carry": "Consentire il trasporto per:",
    "wiredfurni.params.sources.users.900": "Tutti gli utenti nella Stanza",
    "wiredfurni.params.anim_time.title": "Durata animazione movimento",
    "wiredfurni.params.anim_time.description": "Regola la velocita dello slide per i Wired che spostano utenti e furni.",
    "wiredfurni.params.anim_time.value": "%ms% ms",
    "wiredfurni.params.mov_no_animation.title": "Animazione movimento",
    "wiredfurni.params.mov_no_animation.description": "Questo extra disattiva lo slide per i Wired che spostano utenti e furni.",
    "wiredfurni.params.select_options": "Seleziona opzioni:",
    "wiredfurni.params.movephysics.keep_altitude": "Mantieni altitudine del Furni",
    "wiredfurni.params.movephysics.move_through_furni": "Muovi attraverso Furni",
    "wiredfurni.params.movephysics.move_through_users": "Muovi attraverso utenti",
    "wiredfurni.params.movephysics.block_by_furni": "è bloccato da Furni",
    "wiredfurni.params.sources.furni.title.physics.0": "Muovi attraverso Furni:",
    "wiredfurni.params.sources.furni.title.physics.1": "Bloccato da Furni:",
    "wiredfurni.params.sources.users.title.physics.0": "Muovi attraverso gli utenti:",
    "wiredfurni.params.sources.furni.900": "Tutti i Furni nella Stanza"
}
