{
    "friendlist.search": "Zoek vrienden",
    "widget.chooser.checkall": "Selecteer meubels",
    "widget.chooser.btn.pickall": "pak de geselecteerde items op!",
    "wiredfurni.params.requireall.2": "Als een van de geselecteerde furni een avatar heeft",
    "wiredfurni.params.requireall.3": "Als alle geselecteerde furni avatars op hen hebben",
    "widget.settings.general": "Standaard",
    "widget.settings.general.title": "Pas de standaard nitro settings aan",
    "widget.settings.volume": "Volume",
    "widget.settings.interface": "Interface",
    "widget.settings.interface.title": "Pas de settings aan voor de interface",
    "widget.settings.interface.fps.automatic": "Zet FPS naar unlimited",
    "widget.settings.interface.fps.warning": "Het zetten van FPS naar unlimited kan prestatie problemen veroorzaken!",
    "widget.settings.interface.secondary": "Verander de window header kleur",
    "widget.settings.interface.reset": "Reset header kleur naar default",
    "widget.room.chat.hide_pets": "Verberg dieren",
    "widget.room.chat.hide_avatars": "Verberg avatars",
    "widget.room.chat.hide_balloon": "Verberg Spreekballon",
    "widget.room.chat.show_balloon": "Spreekballon",
    "widget.room.chat.clear_history": "leeg geschiedenis",
    "widget.room.youtube.shared": "YouTube word gedeeld",
    "widget.room.youtube.open_video": "Open de video",
    "wiredfurni.params.area_selection.selected": "Geselecteerd gebied: Lengte=%x%, Breedte=%y%, breedte=%w%, hoogte=%h%",
    "wiredfurni.params.sources.users.11": "L'utente cliccato",
    "wiredfurni.params.setexecutions": "Quantità di esecuzioni: %amount%",
    "wiredfurni.params.settimewindow": "Tempo massimo consentito: %timewindow% secondi"
}
